html, body {
    background-color: #443A88!important;
}

h1, h2, li, p, label{
    color: rgb(255, 255, 255);
    text-align: center!important;
    margin-top: 1em!important;
}

button, input{
    text-align: center!important;
    margin-top: 1em!important;
}

input {
    background-color: transparent;
    border: 1px solid;
    height: 25px;
    width: 160px;
    color: rgb(255, 255, 255);
    border-radius: 15px;

}


.position-top-right{
    position: absolute;
    top: 10px; right: 10px;
}

.position-top-left{
    position: absolute;
    top: 10px; left: 10px;
}


.disable-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select:none;
    }

.card-title{
    color:white;
}

#progressbar {
    margin: 20px;
    width: 200px;
    height: 200px;
    position: relative;
  }

#validate {
    color: green;
}

.col {
    text-align: center;
}

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none;
}
img {vertical-align: middle;
    text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  margin-top: -12px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.container{
    padding-top: 4em;

}

